body {
    font-family: 'Overpass', sans-serif;
    background-color: #2A3D45;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }



.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item-1 {
    background: #C17C74;
    padding: 20px 20px 40px 20px;
    width: 367.94px;
    margin-top: 10px;
    color: azure;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
  }


.smile {
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    
  }  

  .flex-item-2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
    
  }


h1 {
    font-weight: 700;
    color: azure;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    justify-content: left;
}


p {

  color: azure;
  padding: 0px 10px 0px 10px;
  text-align: left;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}



.flex-item-2 button {
    width: 100px;
    height: 55px;
    border-style:none;
    font-size: 30px;
    text-align: center;
    color: #fefefe;
    background-color: transparent;
    cursor: pointer;
    transform: .2s;

}

.flex-item-2 button:hover,
.flex-item-2 button:hover ~ button {
  color: #94524A;
}

.flex-item-2 button:focus,
.flex-item-2 button:focus ~ button {
  color: #94524A;
}




.btn-submit {
    background-color: #94524A;
    justify-content: left;
    text-align: center;
    color: azure;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 30px;
    width: 100%;
    border: 0px;
    padding: 10px;

}


.btn-submit:hover {
  background-color: #2A3D45;
    text-align: center;
    color: #ffffff;
    display: center;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 30px;
    width: 100%;
    border: 0px;
}

.btn-submit-rate-again {
  align-self: flex-start;
  background-color: #94524A;
  border: none;
  text-align: center;
  color: azure;
  font-size: 15px;
  padding: 5px 4px 4px 4px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 7rem;


}

.btn-submit-rate-again:hover {
  align-self: flex-start;
  background-color: #ffffff;
  text-align: center;
  color: #262e39;
  font-size: 15px;
  padding: 5px 4px 4px 4px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 7rem;
  border: 0px;
}

.disabled {
    cursor: not-allowed;
}


.rating {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
}


.thank-you {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #94524A;
  padding: 20px 20px 20px 20px;
  width: 367.94px;
  margin-top: 10px;
  color: azure;
  border-radius: 20px; 

}


.hidden {
display: none;
}




